/*
 * main.scss
 *
 * Andrew Bean
 * July 2016
 */

//Start with a consistent reset across browsers
//https://necolas.github.io/normalize.css/
@import 'lib/normalize';

//Styles for leaflet.js mapping library
@import 'lib/leaflet';

//Styles for esri leaflet geocoding library
@import 'lib/esri-leaflet-geocoder';

html, body {
    height: 100%;
}

#map {
    height: 100%;
}

.popup .leaflet-popup-content-wrapper {
  background: #fff;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
  
  .popup .leaflet-popup-content p
  {
	margin: initial;
  }

.popup .leaflet-popup-tip-container {
  transform: rotate(0deg);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  box-shadow: none;
  background: transparent;
  }
  
  iframe { 
	height: 98%;
	width: 100%;
	
	@media only screen and (max-height:200px)
	{
		margin: -14px -20px -20px -20px;
		border-radius: 14px;
	}
	
	}

.record {

	min-height: 10em;
	padding: 0.5em;
	
	position: relative;
	&__head {
		width: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	&__type {
		position: relative;
		width: 100%;
		border-bottom: 1px solid #000;
		background: #fff;
		color: inherit;
	}
	&__img {
		max-width: 100%;
	}
	&__title {
		margin: 0;
	}
	&__coords {
		margin-bottom: 0.8em;
		font-size: 0.7em;
		font-style: italic;
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__details {
		flex: 1;
	}		
	&__text span {
		font-weight: bold;
		font-style: normal;
	}
	
	@media only screen and (min-width:480px), (max-height:200px)
	{
		width: 100%; //
		margin: -14px -20px; //
		border-radius: 12px;
		overflow: hidden;
		
		&__head {
			position: absolute;
			height: 100%;
		}
		
		&__body {
			flex-direction: row;
			margin-left: 2em;
		}
		
		&__img {
			max-width: 35%;
			margin-left: 1em;
		}
		
		&__type {
			text-align: right;
			padding-right: 0.4em;
			transform: translatex(-100%) translatey(-0.9em) rotate(-90deg);
			transform-origin: 100% -0%;
		}
	
	}
}

.popup--Rock {
	.leaflet-popup-content-wrapper {
		background-color: darken(#bb3e3e,10%);
	}
	
	.record__head {
		color: darken(#bb3e3e,10%);
	}
 }
 
.popup--Fossil {
	.leaflet-popup-content-wrapper {
		background-color: darken(#61c146,10%);
	}
		
	.record__head {
		color: darken(#61c146,10%);
	}
 }
 
.popup--Measurement {
	.leaflet-popup-content-wrapper {
		background-color: darken(#116b9c,10%);
	}
			
	.record__head {
		color: darken(#116b9c,10%);
	}
 }
.popup--Borehole {
	.leaflet-popup-content-wrapper {
		background-color: darken(#8573d0,10%);
	}
			
	.record__head {
		color: darken(#8573d0,10%);
	}
 }

 .popup--Bedrock {
	.leaflet-popup-content-wrapper {
		background-color: darken(#F74906,10%);
	}
			
	.record {
			width: initial;
			margin: 0;
		}
			
	.record__head {
		color: darken(#F74906,10%);
	}
 }



.close-button {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2em;
	padding: 0.5em;
	color: #333;
	text-decoration: initial;
}

.hidden {
	display: none;
}
.open {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 1000;
	}

@media only screen and (min-width:480px)
{
	.open
	{
		display: none;
	}
}