/*
 * main.scss
 *
 * Andrew Bean
 * July 2016
 */

//Start with a consistent reset across browsers
//https://necolas.github.io/normalize.css/
@import 'lib/normalize';

//Styles for leaflet.js mapping library
@import 'lib/leaflet';

//Styles for esri leaflet geocoding library
@import 'lib/esri-leaflet-geocoder';

html, body, #map {
    height: 100%;
}

.record {
	width: 100%;
	min-height: 10em;
	padding: 0.5em;
	
	margin: -14px -20px;
	border-radius: 12px;
	overflow: hidden;
	
	position: relative;
	&__head {
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		overflow: hidden;
		height: 100%;
	}
	&__type {
		position: relative;
		width: 100%;
		text-align: right;
		padding-right: 0.4em;
		transform: translatex(-100%) translatey(-0.9em) rotate(-90deg);
		transform-origin: 100% -0%;
		border-bottom: 1px solid #000;
		background: #fff;
		color: #2c3e50;
	}
	&__img {
		margin-left: 1em;
		max-width: 40%;
	}
	&__title {
		margin: 0 0 0.2em;
	}
	&__coords {
		margin: 0;
		font-size: 0.7em;
		font-style: italic;
	}
	&__body {
		display: flex;
		align-items: flex-start;
		margin-left: 2em;
	}
	&__details {
		flex: 1;
	}
	&__text span {
		font-weight: bold;
		font-style: normal;
	}
}

.popup .leaflet-popup-content-wrapper {
  background: #fff;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }

.popup .leaflet-popup-tip-container {
  transform: rotate(0deg);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  box-shadow: none;
  background: transparent;
  }

.popup--Rock .leaflet-popup-content-wrapper {
	background-color: darken(#bb3e3e,10%);
 }
.popup--Fossil .leaflet-popup-content-wrapper {
	background-color: darken(#61c146,10%);
 }
.popup--Measurement .leaflet-popup-content-wrapper {
	background-color: darken(#116b9c,10%);
 }
.popup--Borehole .leaflet-popup-content-wrapper {
	background-color: darken(#8573d0,10%);
 }
